
	<li>
		{{burger_name}}
		{{#if devoured}}
		<button class="button-primary change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">DEVOUR!</button>
		{{else}}
		<button class="button-primary delete-burger" data-id="{{this.id}}">DELETE</button>
		{{/if}}
	</li>
